@model SSMS.Models.Models.Product


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">.form-control { }</style>


@*<form method="POST">*@
    <h1>Product</h1>
   
    @if (ViewBag.SMsg != null)
    {
        <p>@ViewBag.SMsg</p>
    }
    @if (ViewBag.FMsg != null)
    {
        <p>@ViewBag.FMsg</p>
    }
    @using (Html.BeginForm("Add", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td>@Html.LabelFor(c => c.Code)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Code)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Name)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Name)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Category)</td></tr>
        <tr><td>@Html.DropDownListFor(c => c.CategoryId, Model.CategoryLookUp, new { @class = "form-control" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.ReorderLevel)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ReorderLevel)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Description)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Description)</td></tr>
        <tr><td><input type="file" name="UploadImage" id="imgInp" class="btn btn-primary" /></td></tr>
        <tr>
            <td>
                <img style="height:200px; width:220px" id="blah" src="#" alt="image" />
            </td>
        </tr>
        <tr><td><input type="submit" value="Add" /></td></tr>

    </table>
    
}
@*</form>*@
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/SSMS/Product/ShowImageUpload.js"></script>

