@model List<SSMS.Models.Models.Product>

 <style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }
</style>
<h1> Products Details </h1> 
@*<p id="HeadTitle"> Products Details </p>*@          
<table style="width:80%">
    <tr id="tableHeader">
      
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>ReorderLevel</th>
        <th>Description</th>
        
    </tr>
    @foreach (var aProduct in Model)
    {
        <tr>
            
            <td>@aProduct.Code</td>
            <td>@aProduct.Name</td>
            <td>@aProduct.Category</td>
            <td>@aProduct.ReorderLevel</td>
            <td>@aProduct.Description</td>
          
        </tr>
    }
   
</table>



