@model SSMS.Models.Models.Product


@{
    ViewBag.Title = "Add";
}

    <h1>Product Update</h1>
   @if (ViewBag.SUpdate != null)
{
    <p>@ViewBag.SUpdate</p>
}
else if (ViewBag.FUpdate != null)
{
    <p>@ViewBag.FUpdate</p>
}
else if (ViewBag.FMsg != null)
{
    <p>@ViewBag.FMsg</p>
}

    @using (Html.BeginForm())
    {@Html.AntiForgeryToken()
        <table>
            
            <tr><td>@Html.LabelFor(c => c.Code)</td></tr>
            <tr><td>@Html.TextBoxFor(c => c.Code, new { @class = "form-control" , @readonly = "readonly" })</td></tr>
            <tr><td>@Html.LabelFor(c => c.Name)</td></tr>
            <tr><td>@Html.TextBoxFor(c => c.Name, new { @class = "form-control" })</td></tr>
            <tr><td>@Html.LabelFor(c => c.Category)</td></tr>
            @*<tr><td>@Html.DropDownListFor(c => c.CategoryId, Model.CategoryLookUp, new { @class = "form-control" })</td></tr>*@

            <tr><td>@Html.TextBoxFor(c => c.Category.Name, new { @class = "form-control" })</td></tr>
            <tr><td>@Html.LabelFor(c => c.ReorderLevel)</td></tr>
            <tr><td>@Html.TextBoxFor(c => c.ReorderLevel, new { @class = "form-control" })</td></tr>
            <tr><td>@Html.LabelFor(c => c.Description)</td></tr>
            <tr><td>@Html.TextBoxFor(c => c.Description, new { @class = "form-control" })</td></tr>

            <tr><td><input type="submit" value="Update" /></td></tr>

        </table>
    }