@model SSMS.Models.Models.Supplier


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="POST">
    <table>
        <tr><td>@Html.LabelFor(c=>c.Code)</td></tr>
        <tr><td>@Html.TextBoxFor(c=>c.Code)</td></tr>
        <tr><td>@Html.LabelFor(c=>c.Name)</td></tr>
        <tr><td>@Html.TextBoxFor(c=>c.Name)</td></tr>
        <tr><td>@Html.LabelFor(c=>c.Address)</td></tr>
        <tr><td>@Html.TextBoxFor(c=>c.Address)</td></tr>
        <tr><td>@Html.LabelFor(c=>c.Email)</td></tr>
        <tr><td>@Html.TextBoxFor(c=>c.Email)</td></tr>
        <tr><td>@Html.LabelFor(c=>c.Contact)</td></tr>
        <tr><td>@Html.TextBoxFor(c=>c.Contact)</td></tr>
        <tr><td>@Html.LabelFor(c=>c.ContactPerson)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ContactPerson)</td></tr>
        <tr><td><input type="submit" value="Add"/></td></tr>

    </table>
</form>