@model List<SSMS.Models.Models.Supplier>

<h1> Suppliers Details </h1>
@*<p id="HeadTitle"> Suppliers Details </p>*@
@if (Model != null && Model.Count >= 0)
{
    var sl = 0;
    <table class="table table-bordered table-hover">
        <tr>
            <th>SL</th>
            <th>Code</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Contact Person</th>
            <th>Image</th>
            <th>Action</th>

        </tr>
        @foreach (var aSupplier in Model)
        {
            <tr>
                <td>@(++sl)</td>
                <td>@aSupplier.Code</td>
                <td>@aSupplier.Name</td>
                <td>@aSupplier.Address</td>
                <td>@aSupplier.Email</td>
                <td>@aSupplier.Contact</td>
                <td>@aSupplier.ContactPerson</td>

                <td>
                    @{
                        if (aSupplier.Image != null)
                        {

                            var file = Convert.ToBase64String(aSupplier.Image);
                            var image = string.Format("data:image/gif; base64,{0}", file);
                            <img src="@image" width="50" height="50"/>
                        }
                        else
                        {
                            <p>No Image</p>
                        }
                    }
                </td>



                <td>
                    @Html.ActionLink("Update", "Update", "Suppliers", new { id = aSupplier.Id }, new { @target = "_blank" })
                    @Html.ActionLink("Delete", "Delete", "Suppliers", new { id = aSupplier.Id }, new { @target = "_blank" })

                </td>

            </tr>
        }

    </table>
}



