@model SSMS.Models.Models.Purchase



    @using (Html.BeginForm("Add", "Purchases", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Purchase Header</div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Date, "Date *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Date, null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Bill, "Bill *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Bill, null, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Purchase Details Items</div>
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.@Html.Label("ProductName", "Product *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductName", null, new { @class = "form-control" })
                            @*@Html.DropDownListFor<>("m => m.ProductId", Model.ProductLookUp, new { @class = "form-control" })*@

                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductCode", "Code *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductCode", null, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("ProductManufacturedDate", "Manufactured Date *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductManufacturedDate", null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductExpireDate", "ExpireDate *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductExpireDate", null, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("ProductQuantity", "Quantity *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductQuantity", null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductUnitPrice", "UnitPrice *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductUnitPrice", null, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("ProductTotalPrice", "TotalPrice *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductTotalPrice", null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductPreviousCostPrice", "PreviousCostPrice *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductPreviousCostPrice", null, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        @Html.Label("ProductPreviousMrp", "PreviousMrp *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductPreviousMrp", null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductNewCostPrice", "NewCostPrice *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductNewCostPrice", null, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("ProductNewMrp", "NewMrp *", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.TextBox("ProductNewMrp", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <input type="button" id="AddButton" class="btn btn-success" value="Add" />

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Purchase Details</div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped table-responsive">
                        <thead>

                            <tr>
                                <td>SL</td>
                                <td>Products(Code)</td>
                                <td>Manufactured Date</td>
                                <td>Expire Date</td>
                                <td>Purchased Quantity</td>
                                <td>Unit Price</td>
                                <td>Total Price</td>
                                <td>Previous CP</td>
                                <td>Previous MRP</td>
                                <td>New CP</td>
                                <td>New MRP</td>
                                <td>Action</td>

                            </tr>

                        </thead>
                        <tbody id="PurchaseDetailsTable"></tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>









    @*<input type="file" name="UploadFiles" class="btn btn-primary" multiple /><br />*@

    <hr />
    <div class="col-md-4 col-md-offset-4">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
}

@section scripts
{
  
<script src="~/Scripts/SSMS/Purchase/PurchaseCreate.js"></script>

}





           
@*@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    
</style>


<form method="POST">
    <h1>Purchase</h1>

    @if (ViewBag.SMsg != null)
    {
        <p>@ViewBag.SMsg</p>
    }
    @if (ViewBag.FMsg != null)
    {
        <p>@ViewBag.FMsg</p>
    }
    <table>
        <tr><td>@Html.LabelFor(c => c.Date)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Date)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Bill)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Bill)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Supplier)</td></tr>
        <tr><td>@Html.DropDownListFor(c => c.SupplierId, Model.SupplierLookUp, new { @class = "form-control" })</td></tr>
    </table>
    <br/>
    <table>
        
        
        <tr><td>@Html.LabelFor(c => c.Product)</td></tr>
        <tr><td>@Html.DropDownListFor(c => c.ProductId, Model.ProductLookUp, new { @class = "form-control" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.Code)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Code, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.ManufacturedDate)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ManufacturedDate)</td></tr>
        <tr><td>@Html.LabelFor(c => c.ExpireDate)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ExpireDate)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Quantity)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Quantity)</td></tr>
        <tr><td>@Html.LabelFor(c => c.UnitPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.UnitPrice)</td></tr>
        <tr><td>@Html.LabelFor(c => c.TotalPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.TotalPrice, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.PreviousCostPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.PreviousCostPrice, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.PreviousMrp)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.PreviousMrp, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.NewCostPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.NewCostPrice)</td></tr>
        <tr><td>@Html.LabelFor(c => c.NewMrp)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.NewMrp)</td></tr>
        
       
        
        <tr><td><input type="submit" value="Add" /></td></tr>

    </table>
    
  
<<<<<<< HEAD
</form>
=======
</form>*@




>>>>>>> d0175d36d0b5df2aabff86c124b87e2d60bdbf36
