@model SSMS.Models.Models.Purchase
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="POST">
    <h1>Purchase Update</h1>
    @if (ViewBag.SUpdate != null)
    {
        <p>@ViewBag.SUpdate</p>
    }
    else if (ViewBag.FUpdate != null)
    {
        <p>@ViewBag.FUpdate</p>
    }
    else if (ViewBag.FMsg != null)
    {
        <p>@ViewBag.FMsg</p>
    }
    <table>
        <tr><td>@Html.LabelFor(c => c.Date)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Date)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Bill)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Bill)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Supplier)</td></tr>
       
    </table>
    <br />
    <table>


        <tr><td>@Html.LabelFor(c => c.Product)</td></tr>
        @*<tr><td>@Html.DropDownListFor(c => c.ProductId, Model.ProductLookUp, new { @class = "form-control" })</td></tr>*@
        <tr><td>@Html.LabelFor(c => c.Code)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Code, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.ManufacturedDate)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ManufacturedDate)</td></tr>
        <tr><td>@Html.LabelFor(c => c.ExpireDate)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.ExpireDate)</td></tr>
        <tr><td>@Html.LabelFor(c => c.Quantity)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.Quantity)</td></tr>
        <tr><td>@Html.LabelFor(c => c.UnitPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.UnitPrice)</td></tr>
        <tr><td>@Html.LabelFor(c => c.TotalPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.TotalPrice, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.PreviousCostPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.PreviousCostPrice, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.PreviousMrp)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.PreviousMrp, new { @readonly = "readonly" })</td></tr>
        <tr><td>@Html.LabelFor(c => c.NewCostPrice)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.NewCostPrice)</td></tr>
        <tr><td>@Html.LabelFor(c => c.NewMrp)</td></tr>
        <tr><td>@Html.TextBoxFor(c => c.NewMrp)</td></tr>
        <tr><td><input type="submit" value="Update" /></td></tr>

    </table>

</form>